button,
input[type="submit"] {
	display: inline-block; /** Safari won't center buttons if display is not inline-block :) */
	gap: var(--padding);
	vertical-align: middle;
	padding: var(--padding) calc(2 * var(--padding)) var(--padding) calc(2 * var(--padding));

	--button-color: var(--blue-light);

	background: var(--background);
	color: var(--button-color);
	border: var(--border-width) solid var(--button-color);

	font-weight: 600;
	text-transform: uppercase;
}

button:hover,
input[type="submit"]:hover {
	background: var(--button-color);
	color: var(--foreground);
}

button:active,
input[type="submit"]:active {
	border-color: var(--accents-6);
	transform: translateY(0.1rem);
}

button:disabled,
input[type="submit"]:disabled {
	background: var(--accents-1);
	color: var(--accents-3);
	border-color: var(--accents-3);
	cursor: not-allowed;
	transform: none;
}
