input:not([type="submit"]),
select {
	display: block;
	background: var(--background);
	color: var(--foreground);
	border: var(--border-width) solid var(--accents-2);
	outline: none;
	font-weight: 400;
	transition: background 0.2s ease;
}

input:focus,
select:focus {
	border-color: var(--accents-6);
}

input:focus:not([type="submit"]),
select:focus {
	background: var(--accents-2);
}

input:disabled,
select:disabled {
	background: var(--accents-1);
	color: var(--accents-3);
	border-color: var(--accents-3);
	cursor: not-allowed;
}

input[type="password"] {
	font-family: -apple-system, Verdana;
}

input[type="submit"] {
	margin-top: var(--padding);
}

input:not([type="submit"]) {
	padding: var(--padding) calc(2 * var(--padding)) var(--padding) calc(2 * var(--padding));
}

select:not(:disabled) {
	cursor: pointer;
}

input[type="file"]:not(:disabled) {
	cursor: pointer;
}

label {
	user-select: none;
	cursor: pointer;
	text-align: left;
	text-transform: uppercase;
	font-weight: 500;
}
